.email{
    background: linear-gradient(180deg ,  pink , white);
    height: 40vh;
    margin: 50px 100px;
}
.center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.font-ex{
    font-size: 40px;
    font-weight: bold;
    color: #555;
}
#email{
    background: transparent;
    border: 1px solid black;
    color: #555;
    padding: 10px 20px;
    width: 50vh;
    border-radius: 50px 0px 0px 50px
}
.btn-3{
    background: black;
    border: 1px solid black;
    color: white;
    padding: 10px 20px;
    border-radius: 50px 50px 50px 50px;
    margin-left: -20px;
    cursor: pointer;
}