.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu ul{
    gap: 25px;
    list-style-type: none;
}
.menu ul li{
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    color: #555;
}
.hr{
    height: 3px;
    width: auto;
    background: orangered;
    border: 1px solid transparent;
    border-radius: 25px;
}
.bttn{
    background: transparent;
    border: 1px solid black;
    border-radius: 50px;
    padding: 8px 20px;
}
#user{
    border-radius: 50px;
    width: 30px;
    margin: 10px;
    border: 3px double #000;
}